<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="layui-row" style="height: auto">
    <div style="margin: 10px 0 10px 10px">
        <h3>异地医疗报销审批</h3>
        <table id="demo" lay-filter="test"></table>
    </div>
</div>


<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use(['table', 'layer', 'carousel'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var carousel = layui.carousel;

        //第一个实例
        table.render({
            elem: '#demo'
            // , height: 700
            , width: 1050
            , url: '/admin/apply/all' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left'}
                    , {field: 'userName', title: '申报人', width: 75}
                    , {field: 'userId', title: '用户编号', hide: true}
                    , {field: 'idCard', title: '身份证号', width: 175}
                    , {field: 'idCardPic', title: '身份证照片', hide: true}
                    , {field: 'careCard', title: '医保卡号'}
                    , {field: 'careCardPic', title: '医保卡照片', hide: true}
                    , {field: 'prescriptionPic', title: '清单明细', hide: true}
                    , {field: 'invoicePic', title: '医药费发票', hide: true}
                    , {field: 'treatmentDate', title: '入院日期', hide: true}
                    , {field: 'stateMessage', title: '状态', width: 75}
                    , {field: 'gmtCreate', title: '创建日期', width: 120, sort: true}
                    , {field: '', title: '操作', width: 380, toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'record') { //查看
                $.ajax({
                    type:"GET",
                    url:"/admin/treatment/get?userId="+data.userId+"&treatmentDate="+data.treatmentDate,
                    success:function (res) {
                        if (res.code == 1){
                            layer.msg(res.msg);
                        }else if(res.code == 2){
                            layer.msg(res.msg);
                        }else{
                            layer.open({
                                title: '报备信息'
                                , content: '医疗机构：'+res.data[0].hospital+'<br>'+
                                        '入院日期：'+res.data[0].treatmentDate+'<br>'+
                                        '审批状态：已通过'

                            });
                        }
                    }
                })
            } else if (layEvent === 'id_card') { //查看
                layer.open({
                    title: '身份证照片'
                    , content: '<img style="" src=' + data.idCardPic + '>'
                });
            } else if (layEvent === 'care_card') { //查看
                layer.open({
                    title: '医保卡照片'
                    , content: '<img style="height: 100%" src=' + data.careCardPic + '>'
                });
            } else if (layEvent === 'prescription') { //查看
                layer.open({
                    title: '明细清单照片'
                    , content: '<img style="height: 100%" src=' + data.prescriptionPic + '>'
                });
            } else if (layEvent === 'invoice') { //查看
                layer.open({
                    title: '医药发票照片'
                    , content: '<img style="height: 100%" src=' + data.invoicePic + '>'
                });
            } else if (layEvent === 'accept') { //审批通过
                layer.confirm('确认审批通过吗', function (index) {
                    //向服务端发送指令
                    $.ajax({
                        type:"PUT",
                        url:"/admin/apply/accept",
                        data:{
                            '_method': 'PUT',
                            'id': data.id
                        },
                        success: function (res) {
                            window.location.reload();
                        }
                    });
                });
            } else if (layEvent === 'reject') { //驳回操作
                layer.confirm('确认驳回该申报吗', function (index1) {
                    //向服务端发送指令
                    $.ajax({
                        type:"PUT",
                        url:"/admin/apply/reject",
                        data:{
                            '_method': 'PUT',
                            'id': data.id
                        },
                        success: function (res) {
                            window.location.reload();
                        }
                    });
                });
            } else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
    });


</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="record">报备</a>
    <a class="layui-btn layui-btn-xs" lay-event="id_card">身份证</a>
    <a class="layui-btn layui-btn-xs" lay-event="care_card">医保卡</a>
    <a class="layui-btn layui-btn-xs" lay-event="prescription">明细</a>
    <a class="layui-btn layui-btn-xs" lay-event="invoice">发票</a>
    <a class="layui-btn layui-btn-xs" lay-event="accept">通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject">驳回</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>
