<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="layui-row" style="height: auto">
    <div style="margin: 10px">
        <table id="demo" lay-filter="test"></table>
    </div>
</div>


<script>
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use(['table', 'layer', 'carousel'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var carousel = layui.carousel;

        //第一个实例
        table.render({
            elem: '#demo'
            , height: 700
            , width: 1000
            , url: '/admin/news/getAll' //数据接口
            , page: true //开启分页
            , cols: [
                [ //表头
                    {field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left'}
                    , {field: 'title', title: '标题'}
                    , {field: 'author', title: '作者', width: 200}
                    , {field: 'createDate', title: '发布日期', width: 240}
                    , {field: '', title: '操作', width: 177, toolbar: '#barDemo'}
                ]
            ]
        });

        //监听工具条
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'detail') { //查看
                layer.open({
                    title: '身份证照片'
                    , content: ''
                });
                carousel.render({
                    elem: '#test1'
                    , height: '700px'
                    , width: '700px' //设置容器宽度
                    , arrow: 'always' //始终显示箭头
                    , autoplay: false
                    //,anim: 'updown' //切换动画方式
                });
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') { //编辑
                //do something

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            } else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
    });


</script>
<script type="text/html" id="barDemo">
<!--    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit">通过</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>
