<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异地医疗报销申报</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/zwfw.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/layui/layui.js"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="apply-main">
    <div class="layui-row message-div">
        <!-- 侧边导航栏 -->
        <div class="layui-col-md3 tree-div">
            <ul class="layui-nav layui-nav-tree" style="height: 100%" lay-filter="test">
                <li class="layui-nav-item"><a href="/apply">信息申报</a></li>
                <li class="layui-nav-item"><a href="/mymessage">个人信息</a></li>
                <li class="layui-nav-item"><a href="/applylog">申报记录</a></li>
                <li class="layui-nav-item"><a href="/logout">退出登录</a></li>
            </ul>
            <script>
                layui.use('element', function(){
                    var element = layui.element;

                    //…
                });
            </script>
        </div>
        <!-- 申报历史 -->
        <div class="layui-col-md9 message-input">
            <!--
            <table class="layui-table">
                <colgroup>
                    <col width="250">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>申报项目</th>
                    <th>申报日期</th>
                    <th>当前状态</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="apply : ${pagination.data}">
                    <td>异地就医报销申报</td>
                    <td th:text="${#dates.format(apply.gmtCreate,'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${apply.stateMessage}"></td>
                </tr>
                </tbody>
            </table>
            -->
            <div style="width: 700px;">
                <table id="apply_log"></table>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#apply_log'
            ,height: 500
            ,url: '/user/getapplylog' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'creator', title: '申报人', width:80}
                    ,{field: 'type', title: '申报类型', width:240}
                    ,{field: 'gmtCreate', title: '创建时间', width:180, sort: true}
                    ,{field: 'stateMessage', title: '处理结果', width: 160}
                ]
            ]
        });

    });
</script>
</body>
</html>