<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/zwfw.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/zwfw.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#inputIdCard').focus(function () {
                let curValue = $(this).val();
            });
            $('#inputIdCard').blur(function () {
                let curValue = $("#inputIdCard").val()
                validateIdCard(curValue);
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-default nav-default">
    <div class="container-fluid nav-header">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="width: 170px" alt="Brand" src="img/syzwfw-logo.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">沈阳政务服务网</span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>
<div class="container-fluid login-main">
    <div class="login-div" style="margin: 130px auto">
        <h2><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> 用户注册</h2>
        <hr>
        <form class="form-horizontal login-form" action="/register" method="post">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required id="inputEmail3" name="user" placeholder="请输入用户名...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" required id="inputPassword" name="pwd" placeholder="请输入密码...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required id="inputEmail4" name="real_name" placeholder="请输入用户名...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">身份证号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required id="inputIdCard" name="id_card" placeholder="请输入身份证号...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">电话</label>
                <div class="col-sm-10">
                    <input type="tel" class="form-control" required id="inputPassword2" name="tel" placeholder="请输入电话...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" required id="inputPassword3" name="email" placeholder="请输入邮箱...">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">联络地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required id="inputAddress" name="address" placeholder="请输入地址...">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="check" required> 我已阅读并同意<a>《辽宁省统一身份认证平台注册协议》</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="register-submit" class="btn btn-default">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>