<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异地医疗报销申报</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/zwfw.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/layui/layui.js"></script>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="apply-main">
    <div class="layui-row message-div">
        <div class="layui-col-md3 tree-div">
            <ul class="layui-nav layui-nav-tree" style="height: 100%" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item"><a href="/apply">信息申报</a></li>
                <li class="layui-nav-item"><a href="/mymessage">个人信息</a></li>
                <li class="layui-nav-item"><a href="/applylog">申报记录</a></li>
                <li class="layui-nav-item"><a href="/logout">退出登录</a></li>
            </ul>
            <script>
                layui.use('element', function(){
                    var element = layui.element;

                    //…
                });
            </script>
        </div>
        <!-- 医疗信息报备模块 -->
        <div class="layui-col-md9 message-input">
            <form class="layui-form" action="/treatmentRecord" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">申请人</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required  lay-verify="required" placeholder="请输入申请人姓名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">医疗机构</label>
                    <div class="layui-input-block">
                        <input type="text" name="hospital" required  lay-verify="required" placeholder="请输入机构全名" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">入院日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" class="layui-input" required id="test1">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn">立即提交</button>
                    </div>
                </div>
                <div class="alert alert-danger"
                     th:text="${error}"
                     th:if="${error!=null}">
                </div>
            </form>

            <script>
                layui.use('form', function(){
                    var form = layui.form;

                    //监听提交
                    form.on('submit(formDemo)', function(data){
                        layer.msg(JSON.stringify(data.field));
                        return false;
                    });
                });

                layui.use('laydate', function(){
                    var laydate = layui.laydate;

                    //执行一个laydate实例
                    laydate.render({
                        elem: '#test1' //指定元素
                    });
                });
            </script>
        </div>
    </div>
</div>
<div th:insert="footer :: foot"></div>
</body>
</html>